<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--属性值相当于设置了一个properties文件，两者可以结合使用-->
  <properties resource="db.properties">
    <property name="password" value="123456"/>
  </properties>

  <settings>
    <setting name="useGeneratedKeys" value="true"/>
  </settings>

  <typeHandlers>
    <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="org.apache.ibatis.zzwen6.entity.EnumSex"/>

  </typeHandlers>
  <environments default="default">
    <environment id="default">
      <transactionManager type="JDBC"></transactionManager>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:13306/mybatis?useSSL=false"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
      <mapper resource="mapper/UserMapper.xml"/>
  </mappers>
</configuration>
